# Firebase
GoogleService-Info.plist

# Xcode
*.xcuserstate
*.xcuserdatad
.DS_Store

# Build
build/
DerivedData/

# Backend Dependencies
node_modules/
package-lock.json

# Netlify
.netlify/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
